* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("img/mapa (1).jpg");
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat;
  background-attachment: fixed;*/
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 450px;
  min-height: 400px;
  max-height: 80vh;
  background-color: rgba(17, 16, 16, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.caixa-texto {
  width: 100%;
  height: 100px;
  min-height: 80px;
  max-height: 200px;
  border: none;
  outline: none;
  background-color: #ffffff1a;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
  resize: vertical;
  overflow-y: auto;
}

.selecione-idioma {
  width: 100%;
  height: 40px;
  /* margin-top: 20px; */
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
  outline: none;
  background-color: #ffffff1a;
  color: white;
}

.selecione-idioma option {
  background-color: #121212;
  color: white;
}

button {
  border: none;
  padding: 10px;
  background-color: #ffffff1a;
  border-radius: 50%;

  cursor: pointer;
}

.caixa-controle {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  gap: 10px;
  /* flex-shrink: 0; */
}

.resultado {
  flex: 1;
  background-color: #ffffff1a;
  border-radius: 10px;
  padding: 15px;
  overflow-y: auto;
}

.titulo-traducao {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
}

.traducao {
  color: #cccccc;
  font-size: 16px;
  line-height: 1.4;
}
